@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/second_half_background.png');
    backdrop-filter: blur(4px);
    margin: 0;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    height: 100vh;
}

h1 {
    font-size: 40px;
    color: white;
    letter-spacing: 8px;
}

canvas {
    border-radius: 20px;
}

.canvas-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
    position: relative;
}

.start_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 480px;
    position: relative;
    border-radius: 20px;
}

.navigation_container {
    display: flex;
    justify-content: center;
}

.navigation_container button {
    position: absolute;
    padding: 1px 10px;
    background-color: #FFCB00;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.navigation_container button:hover {
    transform: scale(1.1);
}

/* .full-screen {
    display: flex;
    justify-content: space-between;
} */

.cloud {
    position: relative;
    z-index: -10;
}

#btnLeft,
#btnRight,
#btnJump {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    background-color: #FFBE3F;
    color: black;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}

#expand,
#sound,
#mute-sound,
#info {
    display: inline-block;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
    color: black;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    width: 45px;
    position: relative;
}

#expand:hover,
#sound:hover,
#mute-sound:hover,
#info:hover {
    background-color: #FFCB00;
    /* This line sets the background color to orange on hover */
}

#btnThrow {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    background-color: #FFBE3F;
    color: black;
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
}

.panel {
    display: none;
    margin-top: 10px;
}

.panel-wrapper {
    display: none;
    gap: 10px;
}


#game-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.full-screen {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 20px;
    top: 50px;
}

.side-bar {
    width: 720px;
}

#play-again {
    padding: 10px 10px;
    background-color: #FFCB00;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#play-again:hover {
    transform: scale(1.1);
}

.restart {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.popup-content {
    background-color: #744d30;
    /* Holzfarbe */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 30px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.turn-device-popup {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    padding: 20px;
    opacity: 90%;
    border-radius: 10px;
    background-color: #fee16f;

    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#turn-device-popup h2 {
    text-align: center;
    font-size: 30px;
}

.turn-device-popup .popup-content {
    text-align: center;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 30px;
}

@media only screen and (max-width: 720px) {

    #canvas,
    .start_screen {
        width: 99%;
    }
}

@media (device-height: 768px) and (device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .panel {
        width: 667px;
        gap: 467px;
        left: 166px;
        position: absolute;
        top: 548px;
    }

    .panel-wrapper {
        display: flex;
        width: 667px;
    }

    #btnLeft,
    #btnRight,
    #btnJump,
    #btnThrow {
        opacity: 40%;
        background-color: beige;
        font-size: 22px;
    }

}


@media (device-height: 1180px) and (device-width: 820px) and (-webkit-min-device-pixel-ratio: 2) {
    .panel {
        width: 667px;
        gap: 369px;
        left: 60px;
        position: absolute;
        top: 550px;
    }

    .panel-wrapper {
        display: flex;
        width: 667px;
    }

    #btnLeft,
    #btnRight,
    #btnJump,
    #btnThrow {
        opacity: 40%;
        background-color: beige;
        font-size: 22px;
    }

}

@media (device-height: 1366px) and (device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .panel {
        width: 667px;
        gap: 369px;
        left: 150px;
        position: absolute;
        top: 550px;
    }

    .panel-wrapper {
        display: flex;
        width: 667px;
    }

    #btnLeft,
    #btnRight,
    #btnJump,
    #btnThrow {
        opacity: 40%;
        background-color: beige;
        font-size: 22px;
    }

}


@media (device-height: 375px) and (device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .start_screen {
        width: 667px;
        height: 375px;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    #canvas {
        width: 667px;
        height: 375px;
        border-radius: 0px;
    }

    .canvas-container {
        margin-left: 0px;
    }

    .panel {
        width: 667px;
        gap: 454px;
        position: absolute;
        top: 360px;
    }

    .panel-wrapper {
        display: flex;
        width: 667px;
    }

    #btnLeft,
    #btnRight,
    #btnJump,
    #btnThrow {
        opacity: 40%;
        background-color: beige;
        font-size: 15px;
    }

}

@media (device-height: 414px) and (device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .start_screen {
        width: 896px;
        height: 414px;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    #canvas,
    #game-screen {
        width: 896px;
        height: 414px;
        border-radius: 0px;
    }

    .canvas-container {
        margin-left: 0px;
    }

    .panel {
        width: 667px;
        gap: 635px;
        left: 15px;
        position: absolute;
        top: 360px;
    }

    .panel-wrapper {
        display: flex;
        width: 667px;
    }

    #btnLeft,
    #btnRight,
    #btnJump,
    #btnThrow {
        opacity: 40%;
        background-color: beige;
        font-size: 22px;
    }
}

@media (device-height: 390px) and (device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .start_screen {
        width: 844px;
        height: 390px;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    #canvas,
    #game-screen {
        width: 844px;
        height: 390px;
        border-radius: 0px;
    }

    .canvas-container {
        margin-left: 0px;
    }

    .panel {
        width: 667px;
        gap: 581px;
        left: 15px;
        position: absolute;
        top: 347px;
    }

    .panel-wrapper {
        display: flex;
        width: 667px;
    }

    #btnLeft,
    #btnRight,
    #btnJump,
    #btnThrow {
        opacity: 40%;
        background-color: beige;
        font-size: 22px;
    }
}

@media (device-height: 430px) and (device-width: 932px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .start_screen {
        width: 932px;
        height: 430px;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    #canvas,
    #game-screen {
        width: 932px;
        height: 430px;
        border-radius: 0px;
    }

    .canvas-container {
        margin-left: 0px;
    }

    .panel {
        width: 667px;
        gap: 668px;
        left: 15px;
        position: absolute;
        top: 388px;
    }

    .panel-wrapper {
        display: flex;
        width: 667px;
    }

    #btnLeft,
    #btnRight,
    #btnJump,
    #btnThrow {
        opacity: 40%;
        background-color: beige;
        font-size: 22px;
    }
}

@media (device-height: 412px) and (device-width: 915px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .start_screen {
        width: 915px;
        height: 412px;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    #canvas,
    #game-screen {
        width: 915px;
        height: 412px;
        border-radius: 0px;
    }

    .canvas-container {
        margin-left: 0px;
    }

    .panel {
        width: 667px;
        gap: 652px;
        left: 15px;
        position: absolute;
        top: 370px;
    }

    .panel-wrapper {
        display: flex;
        width: 667px;
    }

    #btnLeft,
    #btnRight,
    #btnJump,
    #btnThrow {
        opacity: 40%;
        background-color: beige;
        font-size: 22px;
    }
}

@media (device-height: 360px) and (device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .start_screen {
        width: 740px;
        height: 360px;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    #canvas,
    #game-screen {
        width: 740px;
        height: 360px;
        border-radius: 0px;
    }

    .canvas-container {
        margin-left: 0px;
    }

    .panel {
        width: 667px;
        gap: 494px;
        left: 15px;
        position: absolute;
        top: 318px;
    }

    .panel-wrapper {
        display: flex;
        width: 667px;
    }

    #btnLeft,
    #btnRight,
    #btnJump,
    #btnThrow {
        opacity: 40%;
        background-color: beige;
        font-size: 16px;
    }
}

@media (device-height: 412px) and (device-width: 915px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .start_screen {
        width: 915px;
        height: 412px;
        border-radius: 0px;
    }

    h1 {
        display: none;
    }

    #canvas,
    #game-screen {
        width: 915px;
        height: 412px;
        border-radius: 0px;
    }

    .canvas-container {
        margin-left: 0px;
    }
}