body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/second_half_background.png');
    backdrop-filter: blur(4px);
    margin: 0;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    height: 100vh;
}

h1 {
    font-size: 30px;
    color: white;
    letter-spacing: 8px;
}

@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype');
}

canvas {
    border-radius: 20px;
}

.canvas-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
}

.start_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 480px;
    position: relative;
    border-radius: 20px;
}

.navigation_container {
    display: flex;
    justify-content: center;
}

.navigation_container button {
    position: absolute;
    padding: 1px 10px;
    background-color: #FFCB00;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.navigation_container button:hover {
    transform: scale(1.1);
}

/* .full-screen {
    display: flex;
    justify-content: space-between;
} */

.cloud {
    position: relative;
    z-index: -10;
}

#btnLeft,
#btnRight,
#btnJump {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    background-color: #FFBE3F;
    color: black;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}

#expand,
#sound,
#mute-sound {
    display: inline-block;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
    color: black;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    width: 45px;
    position: relative;
}

#expand:hover,
#sound:hover,
#mute-sound:hover {
    background-color: #FFCB00;
    /* This line sets the background color to orange on hover */
}

#btnThrow {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    background-color: #FFBE3F;
    color: black;
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
}

.panel {
    display: flex;
    max-width: 720px;
    gap: 500px;
    margin-top: 20px;
}

.panel-wrapper {
    display: flex;
    gap: 10px;
}


#game-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.full-screen {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 20px;
    top: 50px;
}

.side-bar {
    width: 720px;
}

#play-again {
    padding: 10px 10px;
    background-color: #FFCB00;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#play-again:hover {
    transform: scale(1.1);
}

.restart {
    position: absolute;
    gap: 20px;
    top: 50px;
    display: flex;
    top: 430px;
    transform: translate(180%, 280%);
}

@media only screen and (max-width: 720px) {

    #canvas,
    .start_screen {
        width: 98%;
        padding-right: 5px;
    }
}


@media (max-width: 740px) {
    .panel {
        gap: 450px;
    }
}

@media (max-width: 660px) {
    .panel {
        gap: 365px;
    }
}

@media (max-width: 650px) {
    .start_screen {
        height: 90%;
    }


}