body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/second_half_background.png');
    backdrop-filter: blur(4px);
    margin: 0;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
    color: white;
    letter-spacing: 8px;
}

@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype');
}

canvas {
    background-color: black;
}

.canvas-container {
    display: flex;
    justify-content: center;
}

.start_screen {
    display: block;
    width: 720px;
    height: 480px;
    position: relative;

}

.navigation_container {
    display: flex;
    justify-content: center;
}

.navigation_container button {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    background-color: #FFCB00;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: Z;
    cursor: pointer;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.navigation_container button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    color: #A0220A;
    background-color: #FFCB00
}


@media only screen and (max-width: 720px) {

    canvas,
    .start_screen {
        width: 90%;
    }
}

@media only screen and (max-height: 480px) {

    canvas,
    .start_screen {
        height: 90%;
    }
}

@media (max-width: 650px) {
    .start_screen {
        height: 90%;
    }


}